.DocLocation .container {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
.DocLocation ul {
  list-style: none;
  font-size: 75%;
  margin-bottom: 20px;
}
.DocLocation i {
  color: orange;
}
.DocLocation-content {
  display: flex;
  justify-content: space-between;
}
.DocLocation-details {
  margin-bottom: 30px;
}
.DocLocation-details .rating {
  margin: 10px 0;
  display: inline-block;
}
