.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 2;
  min-width: 1170px;
}
.Navbar.not-home {
  position: relative;
}
.Navbar-logo {
  width: 90px;
  height: 90px;
}
.Navbar-nav {
  list-style: none;
}
.Navbar-nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 25px;
}
.Navbar-nav.not-home a {
  color: #3d5ee9;
}
.Navbar-profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
